{
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "**/*.{hbs,html}",
      "options": {
        "parser": "glimmer",
        "singleQuote": false
      }
    }
  ]
}
