@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TrueSyntax";
  src: url("../../public/fonts/TRSBL.TTF") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
}


@layer utilities {
  .v-space-sm {
    @apply mt-4;
  }
  .v-space-md {
    @apply mt-8;
  }
  .v-space-lg {
    @apply mt-16;
  }
  .tw-grid-gap {
    @apply gap-4 md:gap-6;
  }
  .tw-grid {
    @apply grid grid-cols-12 tw-grid-gap;
  }
  .page-content-container {
    padding-inline: clamp(1rem, 0.2857rem + 3.0476vw, 6rem);
  }
  .page-title-size{
    font-size: clamp(3rem, 1.3333rem + 7.619vw, 8rem);
  }
}



  /* @keyframes fade-in {
    0% { opacity: 0; }
    30% { opacity: 0.3; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
  } */
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  /* .animate-fadeIn {
    animation-name: fadeIn;
  } */

  .animation {
    animation-name: fadeIn;
    transition-duration: 2s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  }


@keyframes darkBlue {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }
  100% {
    background-color: #005975;
  }
}
@keyframes lightBlue {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }
  100% {
    background-color: #0091B6;
  }
}

@keyframes white {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }

  100% {
    background-color: white;
  }
}

@keyframes yellow {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }

  100% {
    background-color: #F7B200;
  }
}
@keyframes orange {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }

  100% {
    background-color: #FD7E25;
  }
}
@keyframes brightRed {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }

  100% {
    background-color: #F4013B;
  }
}
@keyframes darkRed {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }
  100% {
    background-color: #9A0017;
  }
}

@keyframes fadeText {
  0% {
    color: #252525;
  }
  50% {
    color: #252525;
  }
  100% {
    color: white;
  }
}



@keyframes darkRedBlink {
  0% {
    background-color: #252525;
  }
  25% {
    background-color: #9A0017;
  }
  50% {
    background-color: #252525;
  }
  100% {
    background-color: #9A0017;
  }
}

/* @keyframes fadeIn {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes fadeOut {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #252525;
  }
}

@keyframes fadeContent {
  0% {
    /* opacity: 0; */
    /* background-color: transparent; */
  }
  100% {
    /* opacity: 1; */
    /* background-color: #252525; */
  }
}
