@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TrueSyntax';
  src: url('../../public/fonts/TRSBL.TTF') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
}

@layer utilities {
  .v-space-sm {
    @apply pt-4;
  }
  .v-space-md {
    @apply pt-8;
  }
  .v-space-lg {
    @apply pt-16;
  }
  .v-space-xl {
    @apply pt-32;
  }
  .fullscreen {
    @apply h-screen flex items-center;
  }
  .tw-grid-gap {
    @apply gap-4 md:gap-6;
  }
  .tw-grid {
    @apply grid grid-cols-12 tw-grid-gap;
  }
  .appear-on-scroll {
    @apply blur-none opacity-100 translate-y-0 transition-all duration-1000 ease-in-out;
  }
  .before-scroll {
    @apply blur-sm opacity-0 translate-y-2;
  }
  .page-content-container {
    padding-inline: clamp(1rem, 0.2857rem + 6.0476vw, 10rem);
  }
  .left-content-container {
    padding-left: clamp(1rem, 0.2857rem + 6.0476vw, 10rem);
  }
  .right-content-container {
    padding-right: clamp(1rem, 0.2857rem + 6.0476vw, 10rem);
  }
  .page-title-size {
    font-size: clamp(3rem, 1.3333rem + 7.619vw, 4rem);
  }
  .animation {
    animation: fadeOut 1s ease-in-out;
    animation-delay: 3s;
  }
}

@keyframes spell {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes long {
  0% {
    width: 0;
  }
  33% {
    width: 0px;
  }
  100% {
    width: 96px;
  }
}

@keyframes darkBlue {
  0% {
    background-color: #1a1a1a;
  }
  50% {
    background-color: #1a1a1a;
  }
  100% {
    background-color: #005975;
  }
}
@keyframes lightBlue {
  0% {
    background-color: #1a1a1a;
  }
  50% {
    background-color: #1a1a1a;
  }
  100% {
    background-color: #0091b6;
  }
}

@keyframes white {
  0% {
    background-color: #1a1a1a;
  }
  50% {
    background-color: #1a1a1a;
  }

  100% {
    background-color: white;
  }
}

@keyframes yellow {
  0% {
    background-color: #1a1a1a;
  }
  50% {
    background-color: #1a1a1a;
  }

  100% {
    background-color: #f7b200;
  }
}
@keyframes orange {
  0% {
    background-color: #1a1a1a;
  }
  50% {
    background-color: #1a1a1a;
  }

  100% {
    background-color: #fd7e25;
  }
}
@keyframes brightRed {
  0% {
    background-color: #1a1a1a;
  }
  50% {
    background-color: #1a1a1a;
  }

  100% {
    background-color: #f4013b;
  }
}
@keyframes darkRed {
  0% {
    background-color: #1a1a1a;
  }
  50% {
    background-color: #1a1a1a;
  }
  100% {
    background-color: #9a0017;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes darkRedBlink {
  0% {
    background-color: #1a1a1a;
  }
  25% {
    background-color: #9a0017;
  }
  50% {
    background-color: #1a1a1a;
  }
  100% {
    background-color: #9a0017;
  }
}

@keyframes fadeIn {
  0% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeContent {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* .rotated {
  background-color: pink;
  transform-origin: 0px 50% -70px;
}

@keyframes rotatedContent {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
} */

/* .animation-rotate {
  animation: rotated 2s ease-in;
} */
